

.line {
	position: relative;
	top: 50%;
	width: 24em;
	margin: 0 auto;
	border-right: 2px solid rgba(255, 255, 255, 0.75);
	font-size: 45px;
	font-family: courier;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	transform: translateY(-50%);


}

.paragraph1 {

	font-size: 14px;
	font-family: courier;
	text-align: left;
	margin-left: 60px;
	margin-right: 60px;
	color: #626362;

}
.paragraph2 {

	font-size: 14px;
	font-family: courier;
	text-align: left;
	margin-left: 60px;
	margin-right: 60px;
	color: #626362;

}

.paragraph3 {
	font-size: 14px;
	font-family: courier;
	text-align: left;
	margin-left: 60px;
	margin-right: 60px;
	color: #626362;
}

.anim-typewriter {
	animation: typewriter 4s steps(40) 1s 1 normal both,
	blinkTextCursor 500ms steps(40) infinite normal;
}






@keyframes typewriter {
	from {
		width:0;
	}
	to {
		width: 16em;
	}
}

@keyframes blinkTextCursor {
	from {
		border-right-color: rgba(192,192,192,0.3);
	}
	to {
		border-right-color: transparent;
	}
}



