#body {
  margin: 0 auto;

}

.name {
  padding-top: 145px;
  font-family:"Didot";
  font-size:60px;

}

#navbar {
  float: left;
  width: 340px;
  background-image: linear-gradient(to top right, black, #555555);
  height:220vh;
  overflow:visible;

}

#header {
  float:right;
  text-align: right;
  padding-right:50px;
}

#job-title {
  font-family:"Lucida Console";
  font-size:23px;
}

#nav-links {
  float:right;
  padding-top: 230px;
  text-align:right;
  padding-left:60px;
}

#experience {
  float:right
  width: 700px;
  padding-left:20px;
  overflow:auto;
}

#exp {
  float:left;
  width: 660px;
  padding-left:50px;
}


#experience-title {
  padding-top: 20px;
  float:left;
  padding-left:50px;
  font-family:"Lucida Console";
}

#dash {
  padding-left:50px;
}

a:link {

  text-decoration: underline;
}
a:visited {
  color: black;
}

a:link:active, a:visited:active {
  text-decoration: none;
}
