
#body {
  margin: 0 auto;

}

.name {
  padding-top: 145px;
  font-family:"Didot";
  font-size:60px;

}

#navbar {
  position:relative;
  float: left;
  width: 340px;
  background-image: linear-gradient(to top right, black, #555555);
  height:150vh;
}

#header {
  float:right;
  text-align: right;
  padding-right:50px;
}

#job-title {
  font-family:"Lucida Console";
  font-size:23px;
}

#nav-links {
  float:right;
  padding-top: 230px;
  text-align:right;
  padding-left:60px;
}

.pp-container img {
  position:absolute;
  padding-left:550px;
}




#aboutme-text {
  position: relative;
  float: left;
  padding-left: 50px;
  width: 420px;
  font-size:20px;

}


